@charset "utf-8";
/*body {
	background-color: #F1F1EE;
	margin: 0;
}*/

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #e0cba8;
	margin: -50px;

}

header {
	padding-top: 3%;
	width: 100%;
	height: 0%;
	background-color: #5D5E5D;
	border-bottom: 1px solid #353635;
}
header2 {
	width: 100%;
	height: 3%;
	background-color: #5D5E5D;
	border-bottom: 1px solid #353635;
}
/* .container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
} */

/*
BootStrap's code for the .container class:
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
*/

.jumbotron {
	background-color: #717070;
}

.logo {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 40px;
}
.logo2 {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 15px;
}
.nav {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 15px;
	border-bottom: 2px solid #FFFFFF;
}
.intro {
	background-color: #779fa1;
	padding-bottom: 35px;
	padding-right:15px;
	padding-left: 15px;
	border: 2px solid #FFFFFF;
}
.column {
	width: 33%;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 100px;
	float: left;
	margin-left: auto;

}
.column2 {
	width: 66%;
	text-align: center;
	padding-top: 30px;
	float: left;
	margin-right: auto;

}

.intro .column2 h3 {
	color: #FFFFFF;
	text-align: center;
	font-size: 35px;
}
.intro .column2 p {
	color: #FFFFFF;
}

.intro .column2 p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
}

footer {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
}
	.intro {
	display: inline-block;
	background-color: #6DC7D0;
}
.profile {
	width: 90%;
	height:100%;
	float: right;
}

.profile2 {
	width: 15%;
	height: 15%;
	padding: 2% ;


}


.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

/* .sticky{
	position: fixed;
	top: 0;
	width:100%;
}

.sticky + .intro {
	padding-top:102px;
} */



/*TODO

		Each bio should be on a page of it's own. Not on the
			Home page.
		After photos are taken, they need to be coded so that
		they are posed to follow the mouse (see link in Trello)*/
