@charset "utf-8";
body {
	background-color: #F1F1EE;
	margin: 0;
}
/*
body div {
	width: 113vmax;
}
*/

header {
	background-color: #DFDDD6;
}


.banner-home{
/*	background-image: url();
*/	
	height: 100px;
	background-size: cover
	background-position: center
	padding-top: 20px;
}
main div p {
	padding-left: 15px;	
}
main div div {
	font-size: large;
}
main div div {
	padding-left: 0px;
	font-size: large;
	margin-top: -7px;
}
main div div {
	font-weight: normal;
}





.banner-home h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;/* TODO Seems off-center;*/
	font: 3em;
	margin-top: 0;
	color:#A49F8B
}

nav ul li a { /*TODO Should be Home    About    Gallery    Video    Contact (or whatever--these are placeholders) */
	text-decoration: none;
	color:#A49F8B;
	background-color:#A49881
	display: block;
	text-align: center;
	padding: 10px 0 10px 0;
	margin-bottom: 5px;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

/*TODO  Meet the Team should be centered and a different color
		Probably could use a better font all around.
		Each bio should be on a page of it's own. Not on the 
			Home page.
		Image needs padding between it and text
		Team member's name should be bolded and bigger.
		Could use a border around the bio text.
		Text block should be smaller. It is poorly formatted now
			- text should not extend so far across page.
		After photos are taken, they need to be coded so that
		they are posed to follow the mouse (see link in Trello)*/
